* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue;
}

/* Definiendo plantilla para el Grid */

.container {
    display: grid;
    height: 100svh;
    grid-template-rows: 1fr 2fr 8fr 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

/* Definiendo Grid Areas de etiquetas semanticas */

header {
    /*border: 1px solid black;*/
    background-color: rgb(222, 131, 39);
    grid-area: header;
    padding: 5px;
    
}

.title h1 {
    /*justify-content: center;*/
    align-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    /*font-size: 18px;*/
}

nav {
    /*border: 1px solid black;*/
    background-color: rgb(48, 70, 116);
    grid-area: nav;
    padding: 10px;
    font-size: 10px;
    /*color: rgb(239, 181, 160);*/
}

.menu a:hover {
    color: grey;
}

.btn-mnu {
    height: 40px;
    padding: 10px;
    margin-top: 5px;
}

main {
    /*border: 1px solid black;*/
    /*background-color:;*/
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: main;
    padding: 5px;
    color: black;
    overflow-y: auto;
}

.dsf1{

}

.dsf2{

}

.dsf3{
  
}


footer {
    /*border: 1px solid black;*/
    background-color: rgb(126, 130, 138);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: rgb(255, 255, 255);
}

.mifooter {
    align-content: center;
    padding-left: 40px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /*margin-left: 100px;*/
    /*width: 100%;*/
    height: 100%;
}

.menu a {
    text-decoration: none;
    margin-left: 0px;
    color: white;
}

/********************************************
*           Galeria y tarjetas              *
********************************************/

.gallery {
    /*border: 1px solid black;*/

    display: grid;
    grid-template-columns: auto;
    
    width: 100svh;
    margin: 0%;
}

.cards {
    /*border: 1px solid black;*/
    justify-content: center;
    align-content: center;
    width: 55svh;
    box-shadow: 5px 5px 15px #9c9b9b;
    margin-top: 10px;
}

.cards-img {
    /*border: 1px solid black;*/
    
    padding: 5px;
    text-align: center;
}

.cards-img img {
    width: 50px;
    size: 200px;
    /*object-fit: contain;*/
}

.cant {
    /*border: 1px solid black;*/
    text-align: center;
}

/*.dsf3{
    display: flex;
}*/

.contenido-dsf3 h1{
    padding-bottom: 30px;
}

.contenido-dsf3 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;

    height: 250px;
    width: 400px;
    text-align: center;
}

.combos-dsf3 {
    /*border: 1px solid black;*/
    height: 40px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;

}

.cmb {
    /*border: 1px solid black;*/
    width: 50px;
    height: 30px;
    /*flex-direction: row;*/
    justify-content: center;
    align-content: center;
}



/***********************************
**  -----   MediaQueries   -----  ** 
***********************************/

/*      DISPOSITIVOS TABLET -- Pantallas minimas de 768 pixeles       */
@media (min-width: 768px) {
    .container {
        grid-template-rows: 1fr 1fr 7fr 1fr 1fr;
        grid-template-areas:
            "header nav nav"
            "main main main"
            "main main main"
            "main main main"
            "footer footer footer";
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        /*grid-template-columns: repeat(2, 1fr);*/
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: main;
        color: black;
        overflow-y: auto;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        width: 100%;
        margin: 0px;
    }

    .cards-img img {
        width: 60svh;
        object-fit: contain;
        transform: scale(0.9);
        /*transform-origin: bottom;*/
        /*animation: pic 1s infinite;*/
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-left: 95px;
        width: 60%;
        height: 100%;
    }

    .menu a {
        /*border: 1px solid white;*/
        text-decoration: none;
        color: white;
        padding: 5px;
    }


}

/*      DISPOSITIVOS DESKTOP -- Pantallas minimas de 992 pixeles      */
@media (min-width: 992px) {
    .container {
        grid-template-rows: 1fr 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas:
            "header header header header"
            "nav main main main"
            "nav main main main"
            "nav main main main"
            "nav main main main"
            "footer footer footer footer";
        grid-template-columns: 1fr 6fr
    }

    h3 {
        font-size: xx-large;
    }

    h5 {
        font-size: larger;
    }

    main {
        /*grid-template-columns: repeat(2, 1fr);*/
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: main;
        color: black;
        overflow-y: auto;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        gap: 15px;
        width: 80%;
        margin: 0px;
    }

    .menu {
        /*border: 1px solid black;*/
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-content: start;
        margin-left: 0px;
        width: 26svh;
        height: 100%;
    }

    .menu a {
        border: 1px solid white;
        text-decoration: none;
        color: white;
        justify-content: center;
        align-content: center;
        text-align: center;

        margin-top: 20px;
        height: 30px;
        width: 100%;
        padding: 5px;
    }

    footer {
        /*border: 1px solid black;*/
        background-color: rgb(126, 130, 138);
        grid-area: footer;
        padding: 5px;
        color: rgb(93, 118, 140);
    }

}