* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue;
}

/* Definiendo plantilla para el Grid */

.container {
    display: grid;
    height: 100svh;
    grid-template-rows: 2fr 1fr 8fr 1fr;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

/* Definiendo Grid Areas de etiquetas semanticas */

header {
    /*border: 1px solid black;*/
    background-color: rgb(68, 65, 62);
    grid-area: header;
    padding: 5px;
    
}

.title, h1 {
    justify-content: right;
    align-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    /*font-size: 18px;*/
}

nav {
    /*border: 1px solid black;*/
    background-color: rgb(48, 70, 116);
    grid-area: nav;
    padding: 5px;
    font-size: 18px;
    /*color: rgb(239, 181, 160);*/
}

.menu a:hover {
    color: grey;
}

main {
    /*border: 1px solid black;*/
    /*background-color:;*/
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: main;
    padding: 5px;
    color: black;
    overflow-y: auto;
}

footer {
    /*border: 1px solid black;*/
    background-color: rgb(126, 130, 138);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: rgb(93, 118, 140);
}

.mifooter {
    align-content: center;
    padding-left: 40px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;
    width: 80%;
    height: 100%;
}

.menu a {
    text-decoration: none;
    margin-left: 0px;
    color: white;
}

/********************************************
*           Galeria y tarjetas              *
********************************************/

.gallery {
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    width: 100%;
    margin: 0%;
}

.cards {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 15px #9c9b9b;
    margin-top: 10px;
}

.cards-img {
    /*border: 1px solid black;*/
    padding: 5px;
    text-align: center;
}

.cards-img img {
    width: 70svh;
    object-fit: contain;
    transform: scale(0.9);
    /*transform-origin: bottom;*/
    animation: pic 1s infinite;
}

/**********************************************************      
*        EFECTO HOVER -- sobre imagenes de galeria        *
***********************************************************/
.cards-img img:hover {
    transform: scale(1.0);
    background-color: #9c9b9b;
}

.cards-body {
    /*border: 1px solid black;*/
    text-align: center;
}

.description {
    /*border: 1px solid black;*/
    padding: 1px;
}

.cards-btn {
    /*border: 1px solid black;*/
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.btn-details {
    background-color: #3e7af3;
    color: white;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 100px;
}


/***********************************
**  -----   MediaQueries   -----  ** 
***********************************/

/*      DISPOSITIVOS TABLET -- Pantallas minimas de 768 pixeles       */
@media (min-width: 768px) {
    .container {
        grid-template-rows: 2fr 1fr 7fr 1fr 1fr;
        grid-template-areas:
            "header nav nav"
            "main main main"
            "main main main"
            "main main main"
            "footer footer footer";
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        /*grid-template-columns: repeat(2, 1fr);*/
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: main;
        color: black;
        overflow-y: auto;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        width: 100%;
        margin: 0px;
    }

    .cards-img img {
        width: 60svh;
        object-fit: contain;
        transform: scale(0.9);
        /*transform-origin: bottom;*/
        /*animation: pic 1s infinite;*/
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-left: 95px;
        width: 60%;
        height: 100%;
    }

    .menu a {
        /*border: 1px solid white;*/
        text-decoration: none;
        color: white;
        padding: 5px;
    }


}

/*      DISPOSITIVOS DESKTOP -- Pantallas menos de 992 pixeles      */
@media (min-width: 992px) {
    .container {
        grid-template-rows: 2fr 1fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
            "header header header header"
            "nav main main main"
            "nav main main main"
            "nav main main main"
            "nav main main main"
            "footer footer footer footer";
        grid-template-columns: auto 5fr
    }

    h3 {
        font-size: xx-large;
    }

    h5 {
        font-size: larger;
    }

    main {
        /*grid-template-columns: repeat(2, 1fr);*/
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: main;
        color: black;
        overflow-y: auto;
    }

    .gallery {
        /*border: 1px solid black;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        gap: 15px;
        width: 100%;
        margin: 0px;
    }

    .cards-img img {
        width: 50svh;
        object-fit: contain;
        transform: scale(0.9);
        /*transform-origin: bottom;*/
        /*animation: pic 1s infinite;*/
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 0px;
        width: 100px;
        height: 100%;
    }

    .menu a {
        border: 1px solid white;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        width: 100%;
        padding: 5px;
    }

    footer {
        /*border: 1px solid black;*/
        background-color: rgb(126, 130, 138);
        grid-area: footer;
        padding: 5px;
        color: rgb(93, 118, 140);
    }

}